@model eBanking.Models.Transaction

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FromBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account.AccountName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.AccountName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account1.AccountName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account1.AccountName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TransactionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
